@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap')
$font_josefins: 'Josefin Sans', sans-serif

*
    margin: 0
    padding: 0
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    font-family: $font_josefins

/* === COLORS === */
$white: #fff
$dark: #181824
$custom_gray: #4b4949

html, body
    width: 100vw
    height: 100%
    position: relative
    overflow-x: hidden
    background-color: $white

.container
    width: 100%
    height: 100vh
    color: $custom_gray

.box
    max-width: 600px
    margin: 0 auto

#header
    background: url("../../images/bg-desktop-light.jpg")
    background-repeat: no-repeat
    background-size: cover
    height: 240px
    width: 100%
    color: $white

.title-area
    display: flex
    justify-content: space-between
    align-items: center
    height: 50%
    padding: 40px 20px

a:link
    text-decoration: none

.dark_and_light_button
    display: inline-block
    width: 20px
    height: 20px

#main
    background-color: $white
    height: 100%
    position: relative
    top: -5px

.list-area
    position: relative
    top: -110px
    padding: 0 5px

.list-area div span input
    display: inline-block
    padding: 5px
    font-size: 18px
    color: $custom_gray
    width: 100%
    max-width: 100%
    border: none

input:focus
    border: 0 none
    box-shadow: 0 0 0 0   
    outline: 0

input::placeholder
    color: $custom_gray
    font-size: 18px

span
    width: 100%
    background-color: $white
    color: $custom_gray
    box-shadow: 2px 2px 7px 2px rgba(204,204,204,0.89)
    margin-top: 0px
    padding: 10px
    display: flex
    justify-content: space-between
    align-items: center

.text-id
    color: transparent

i
    width: 15px

#todo-add
    display: inline-block
    padding: 5px
    border-radius: 2.5px
    display: grid
    grid-template-columns: 7fr 1fr
    margin-bottom: 30px

#button-add
    display: flex
    justify-content: center
    align-items: center
    padding: 5px
    border: none
    background-color: rgba(0, 0, 0, .2)

#button-add:hover
    background-color: rgba(0, 0, 0, .28)

#container-list
    border-radius: 5px

#list
    display: grid
    grid-template-columns: 1fr 9fr
    justify-content: center
    align-items: center
    border-radius: 5px

#function-bar
    display: none
    grid-template-columns: 2fr 3fr 2fr
    justify-content: center
    align-items: center
    box-shadow: 2px 2px 7px 2px rgba(204,204,204,0.89)
    border: .2px solid rgba(204,204,204,0.89)
    border-radius: 5px

#function-bar div
    display: flex
    justify-content: center
    align-items: center
    padding: 10px
    background-color: #FFF

#function-bar .link-bar
    margin-left: 15px
    color: $custom_gray

#function-bar div:first-child
    margin-left: 0
    justify-content: flex-start !important

#footer
    width: 100%
    height: 80px
    background-color: $white
    position: fixed
    bottom: 0
    display: flex
    justify-content: center
    align-items: center

h1
    letter-spacing: 5px
    font-size: 40px